* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

.container{
    position: relative;
}

.center{
    position: absolute;
    margin-top: 100px;
}

.upper-text {
    text-transform: uppercase;
}

.small-text {
    line-height: 24px;
    color: rgba(63, 63, 63, 0.896);
}

.title-text {
    font-weight: 600;
    font-size: 40px;
}
#main-title{
    font-weight: 600;
    font-size: 60px;
}
.below-title{
    font-size: 15px;
    color: white; 
    position: relative;
    text-align: center;
    top: -50px;
}

.navbar {
    background-color: rgb(255, 255, 255);

}

.navbar ul {
    margin-right: 100px;
    margin-top: 0rem;
    margin-bottom: 0rem !important;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a{
    text-decoration: none;
    color: #030303;
    font-weight: 400;
    font-size: small;
    transition: .3s;
}

.navbar ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: #0D6EFD;
    box-sizing: border-box;
    transition: .3s;
    border-radius: 3px; 
}

.header {

    box-shadow: 0px 0px 100px rgb(217, 217, 217);
}

#header-logo {
    margin-left: 100px;
    width: 150px;
    height: auto;
}


.main-banner {
    background-color: rgba(214, 241, 255, 0.3);
    height: 750px;
    width: 100%;
}

#main-about-info{
    text-align: justify !important;
}

.mb-btn {
    transition: .5s;
}

.mb-btn:hover {
    transition: .5s;
    background-color: rgb(0, 80, 3);
    box-shadow: 0px 2px 20px rgb(232, 232, 232) !important;
    transition: .5s;
}


#copyright{
    font-size: 15px;
    margin-top: 30px;
}


/* ------------------about.html---------------- */
.banner{
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    height: 300px;
    width: 100%;
}

.header-title{
    font-size: 50px;
    color: white;
    padding: 70px 0;
    text-align: center;
}

.section-gap{
    padding: 120px 0;
}

#about-about-img{
    height: 400px;
    width: auto;
}


.about-about-info{
    text-align: justify!important;
}
.footer-area{
    background-color: #000831;
}
.footer-area p{
    color: white;
}

.footer-title{
font-size: 20px;
font-weight: 500;
}

#table-education {
    border-collapse: collapse;
    width: 100%;
}

#table-education td, #table-education th {
    border: 1px solid #ddd;
    padding: 8px;
    
}
#table-education tr:nth-child(even){
    background-color: #000831;
    color: white;
}
#table-education tr:nth-child(n+2):hover{
    background-color: #0D6EFD;
    color: white;
}

.progress-bar{
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
}
.div-progress-title{
    text-align: right;
    color: #515151c7;
    margin-bottom: 5px;
    margin-top: 30px;
    
}

#skill-title-large{
    margin-bottom: 50px;
}

.skill-titile-small{
    text-align: left;
}
.contact-details{
    display: inline-block;
    margin-left: 30px;
}
.contact-details p{
    color: rgba(75, 75, 75, 0.773);
}

.contact-page-area .address-wrap .sigle-contact-address{
    margin-bottom: 8px;
}

.flex-row{
    flex-direction: row!important;
}
.d-flex{
    display: flex!important;
}

.div-contact a{

    text-decoration: none;
    color: black;
}

.form-field:nth-child(n+1){
    padding: 15px 0px;
}
.form-control{
    border-radius: 0px;
}

#form-text{
  border-color: rgba(41, 41, 41, 0.355);
}

.link-none{
    text-decoration: none;
    color: white;
}
.link-none:hover{
    text-decoration: none;
    color: white;
}

.div-social{
    height: 35px;
    background-color: white;
    width: auto;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}

.social-icon{
    font-size: 20px;
    padding: 7px 10px;
}
.social-icon:hover{
   cursor: pointer;
   color: #1536dd;
}
.div-social a{
    text-decoration: none;
    color: #000831;
}
/* ------------------portfolio.html---------------- */