* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

/* .container{
    max-width: 960px;
    margin: 0 auto;
} */
.upper-text {
    text-transform: uppercase;
}

.small-text {
    line-height: 24px;
    color: rgba(63, 63, 63, 0.896);
}

.title-text {
    font-weight: 600;
    font-size: 60px;
}

.below-title{
    font-size: 15px;
    color: white; 
    position: relative;
    text-align: center;
    top: -50px;
}

.navbar {
    background-color: rgb(255, 255, 255);

}

.navbar ul {
    margin-right: 100px;
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;

}

.navbar ul li a {
    text-decoration: none;
    color: #030303;
    font-weight: 400;
    font-size: small;
    transition: .5s;
}

.navbar ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: #0D6EFD;
    padding: 10px 10px;
    box-sizing: border-box;
    transition: .5s;
    border-radius: 3px;
    
}

.header {

    box-shadow: 0px 0px 100px rgb(217, 217, 217);
    transition: .4s;
}

.header:hover {
    transition: .4s;
    padding-top: 10px;
}

#header-logo {
    margin-left: 100px;
    transition: .5s;
    width: 150px;
    height: auto;
}

#header-logo:hover {
    transition: 0.5s;
    transform: translate(50px, 0px);
}



.main-banner {
    background-color: rgba(214, 241, 255, 0.3);
    height: 750px;
    width: 100%;
}

.mb-left {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20%;

}

#mb-pic {
    height: 500px;
    width: auto;
    margin-left: 50px;
}

/* .mb-left-about p{
    text-align: justify;
    line-height: 22px;
} */

.mb-btn {
    transition: .5s;
}

.mb-btn:hover {
    transition: .5s;
    background-color: rgb(0, 80, 3);
    box-shadow: 0px 2px 20px rgb(232, 232, 232) !important;
    transition: .5s;
}

.mb-btn-icon {
    height: 12px;
    width: auto;
    display: inline-block;
    margin-top: -1px;
    transition: .5s;
}

.mb-btn-icon:hover {
    padding-left: 5px;
    transition: .5s;
}
#mb-btn-icon-first {
    height: 8px;
}

/* @media only screen and (min-width: 1200px) {
    #header-logo {
        height: auto;
        width: 100px;
    }

    .navbar ul li a {
        font-size: 10px;
    }

    #mb-pic {
        height: 350px;
    }

    .mb-left {
        top: 15%;
    }

    .title-text {
        font-size: 35px;
    }

} */

@media only screen and (max-width: 1200px) {
    .title-text {
        font-size: 25px;
    }

    #mb-pic {
        height: 400px;
        width: auto;
    }


}

@media only screen and (max-width: 991px) {

    [class*="col-"] {
        width: 100%;
    }

    #mb-pic {
        display: none;
    }

    .title-text {
        font-size: 20px;
    }

    .small-text {
        font-size: 12px;
    }

    .navbar ul li {
        display: none;
    }

    .mb-btn {
        font-size: 12px !important;
    }

    #header-logo {
        display: block;
        margin: auto;
    }

    .mb-left-about p {
        text-align: justify;
        line-height: 20px;
        padding-right: 15px;
    }


}


/* ------------------about.html---------------- */
.about-banner{
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    height: 300px;
    width: 100%;
}

.header-title{
    font-size: 50px;
    color: white;
    /* position: relative;
    top: 50%; */
    padding: 70px 0;
    text-align: center;
}

.section-gap{
    padding: 120px 0;
}

#about-info{
    text-align: justify!important;
}

#about-img{
    height: 400px;
    width: auto;
}