* {
	margin: 0px;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
form {
	margin: 0px;
}

body {
	font-family: Poppins;
}

/* .container {
	width: 90%;
	margin: auto;
	overflow: hidden;
} */

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #35424a;
	color: white;
	border-bottom: 3px solid orangered;
	padding: 20px 30px;
}

.nav-links {
	display: flex;
}

.nav-link {
	padding-left: 20px;
}

.nav-link:hover {
	color: orangered;
	cursor: pointer;
}

.slides {
	/* for setting up background image */
	background-image: url(../images/slider-1.jpg);
	/* for setting up image size */
	background-size: cover;
	/* for setting up background position (top, bottom, center, left etc) */
	background-position: center;
	/* for setting up text color */
	color: white;
	/* for setting up text align (left, right, center etc) */
	text-align: center;
}
.slides .shadow {
	padding: 140px 0px;
	background-color: rgba(0, 0, 0, 0.6);
}

.newsletter {
	background-color: rgb(53, 66, 74);
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 30px;
}

form {
	margin-block-end: 0rem;
}

.subscription-main-box {
	font-family: Poppins;
	height: 35px;
	border-radius: 2px;
	border-style: none;
}

.subscription-button {
	font-family: Poppins;
	height: 35px;
	background-color: #007BFF;
	border-radius: 3px;
	border-style: none;
	color: white;
}

.subscription-button:hover {
	background-color: rgb(41, 41, 41);
	cursor: pointer;
}

.services {
	display: flex;
	text-align: center;
	gap: 50px;
	padding: 40px 50px;
}

.services h3 {
	margin-top: 10px;
}

.services p {
	margin-top: 16px;
}

.services img {
	height: 150px;
}

footer {
	padding: 20px;
	color: #ffffff;
	background-color: #e8491d;
	text-align: center;
}

.logo:hover {
	cursor: pointer;
}

.logo-link {
	text-decoration: none;
	color: white;
}

@media screen and (max-width: 700px) {
	.services {
		flex-direction: column;
	}
}